<h1>Interests</h1>
<li ng-repeat="content in interests">
<h2>{{content.Interests}}</h2>
</li>
<div class="row" id="pictures">
	<div class="col-md-4 col-md-4">
		<img src="img/kendricklamar.jpg" alt="Kendrick Lamar"/>
	</div>
	<div class="col-md-4 col-md-4">
		<img src="img/jcole.jpg" alt="J. Cole"/>
	</div>
	<div class="col-md-4 col-md-4">
		<img src="img/logic.jpg" alt="Logic"/>
</div>
<li ng-repeat="content in interests">
<h2>{{content.Sports}}</h2>
</li>
<div class="row" id="pictures">
	<div class="col-md-6 col-md-6">
		<img src="img/seahawks.jpg" alt="Seahawks"/>
	</div>
	<div class="col-md-6 col-md-6">
		<img src="img/mufc.jpg" alt="Manchester United"/>
	</div>

